html{
	margin-left: 10%;
	margin-right: 10%;
	padding: 0;
}


 #sortable { list-style-type: none; margin: 0; padding: 0; width: 55%; }
 #sortable li { margin:  -21px 3px 3px; padding: 50px; padding-left: 5.5em; height: 18px; }
 #sortable li span { position: absolute; margin-left: -1.3em; }

#sortable2 { list-style-type: none; margin: 0; padding: 0; width: 400px; }
#sortable2 li { margin: 38px 21px 3px 0; padding: 1px; float: left; width: 77px; height: 90px; font-size: 4em; text-align: center; }



/****************Navbar**************************/
.menu{
	
	background-color: #3d00f7;
	overflow: hidden;
	display: flex;
	justify-content: center;
	}

.menu a{
	text-decoration: none;

	font-size: 30px;
	padding: 20px;
	color: white;
}

/*******ne fonctionne pas ?????*******/
.droite{
	float: right;
}

.page-active{
	background-color: black;
}


a:hover {
	color: white;
	background-color: #808080;
}

/***********************BLOCK 1***********************/
#block1{
	background-color: #b9fc00;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.titre-block1{
    font-size: 25px;
    color: #3d00f7;
}



/***********************BLOCK 2***********************/

#block2{
	background-color: blue;
	height: 600px;
	display: flex;
}

.colonne-gauche{
	text-align: center;
	width: 50%;
	height: 400px;
	color: white;
	padding: 20px;
}
.colonne-droite{
	width: 50%;
	height: 446px;
	background-color: yellow;
	color: white;
	padding: 20px;
}

.formulaire{
	background-color: green;
	
}